@media(max-width: 760px) {
    .category-1 {
        grid-template-columns: repeat(3, 1fr);
        width: 640px;
        transform: scale(90%);
    }

    .nav-bar {
        display: none;
    }

    ul>li {
        display: flex;
        flex-direction: column;
        position: absolute;
        column-gap: 30px;
        height: 100%;
        width: 60%;
        top: 0;
        right: 0;
    }

    .home {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 480px) {
    .category-1{
        grid-template-columns: repeat(2, -2fr);
    }
}